<html>
<head>
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
	<script src="scripts/require.js"  data-main="scripts/main"></script>
  	<link href="https://cdn.bootcss.com/highlight.js/9.11.0/styles/default.min.css" rel="stylesheet">
    <link href="markdown.css" rel="stylesheet">
</head>
<body>

<div id="app-6" >
  <textarea style="width: 500px;height: 200px" v-on:keydown.tab="tab_handle" v-model="message"></textarea>
</div>
<div id="content" class="markdown-body">
</div>
 <button v-bind:disabled="someDynamicCondition">Button</button>

<div id="app-3">
<div v-if="ok">
  Now you see me
</div>
<div v-else>
  Now you don't
</div>
<span v-for="n in 10">{{ n }}</span>
</div>

<div>
  
</div>
</body>
</html>